@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* General Styling */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Rubik', sans-serif;
	background: #000;
	line-height: 1.6;
	color: #fff;
	overflow-x: hidden;
	user-select: none;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: #ccc;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

/* Utils */
.btn {
	display: inline-block;
	background: #fff;
	color: #000;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
	line-height: 14px;
	letter-spacing: 1px;
	border: none;
	text-transform: uppercase;
	padding: 20px 34px;
	cursor: pointer;
	min-width: 135px;
}

h4 {
	font-size: 12.5px;
	color: #02f789;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.5px;
}

h3 {
	font-size: 24px;
	font-weight: 300;
	margin: 5px 0;
}

.btn-cta:hover {
	opacity: 0.8;
}

.btn-outline {
	background: none;
	border: 2px solid #fff;
	color: #fff;
}

.btn-outline:hover {
	border-color: #ffffff6c;
}

.legal-text {
	font-size: 10px;
	color: #ccc;
	margin-top: 20px;
	word-spacing: 1.5px;
}

.sub-link {
	display: block;
	font-size: 12px;
	margin-top: 5px;
	color: #9e9d9d;
	text-decoration: underline;
}

.sub-link:hover {
	text-decoration: underline;
}

.text-xl {
	font-size: 70px;
	font-weight: bold;
}

.sub-text {
	max-width: 840px;
	font-size: 22px;
	margin-bottom: 10px;
}

/* Header */
.header {
	height: 530px;
	background: url('../img/header.jpg') no-repeat center center/cover;
}

.header::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 160px;
	z-index: 1;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.76) 15.54%,
		rgba(0, 0, 0, 60.23%) 60.25%,
		rgba(0, 0, 0, 8e-5) 100%
	);
}

.header nav {
	display: flex;
	justify-content: flex-end;
	padding: 20px 40px;
	z-index: 2;
	position: relative;
}

.header nav .login-btn {
	background: none;
	border: none;
	letter-spacing: 1px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
}

.header nav .login-btn:hover {
	opacity: 0.8;
}

.header .logo {
	width: 270px;
	margin: 20px 0;
}

.header .header-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 70px;
}

.header .header-text-1 {
	font-size: 22px;
	font-weight: 700;
}

.header .header-text-2 {
	font-size: 16px;
	margin: 20px 0;
	word-spacing: 1px;
}

/* Sub-header */
.sub-header {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	padding: 30px 40px;
	grid-gap: 2.5rem;
	align-items: center;
	background: linear-gradient(
		318.68deg,
		#0f495c 0%,
		#0d3640 49.72%,
		#08141f 100%
	);
}

.sub-header > div:last-child {
	justify-self: end;
	align-self: flex-end;
}

.sub-header > div:last-child .sub-link {
	text-align: center;
}

/* Categories */
.categories {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-self: center;
	align-items: center;
	padding: 90px 40px;
}

.categories h4 {
	font-size: 14px;
	letter-spacing: 1px;
}

.categories .covers {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.categories .covers > div {
	position: relative;
	height: 450px;
	width: 300px;
}

.categories .cover-grad {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(156.82deg, #00000099 4.58%, #00000000 69.61%),
		linear-gradient(24.5deg, #00000033 4.71%, #00000000 71.49%);
}

.categories .cover-text {
	position: absolute;
	top: 20px;
	left: 20px;
	text-align: left;
}

.categories .cover-text .sub-title {
	font-weight: 300;
}

.categories .cover-text h3 {
	font-weight: 900;
	font-size: 26px;
	margin: 0;
	line-height: 1;
}

.cover-1 {
	background: url('/img/cover-1.jpg') no-repeat center center / cover;
}
.cover-2 {
	background: url('/img/cover-2.jpg') no-repeat center center/ cover;
}
.cover-3 {
	background: url('/img/cover-3.jpg') no-repeat center center/ cover;
}
.cover-4 {
	background: url('/img/cover-4.jpg') no-repeat center center/ cover;
}

.categories p {
	font-size: 10px;
	align-self: flex-end;
	text-align: center;
	margin-right: 28px;
	margin-top: 5px;
}

/* Live */
.live {
	background: #151516;
	padding: 40px;
}

.live .live-border {
	border: 4px solid #1ce783;
	border-radius: 16px;
	padding: 100px 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.live .sub-text {
	max-width: 690px;
	word-spacing: 2px;
}

.live .sub-link {
	display: inline;
	font-size: 10px;
}

.live .sub-link.bigger {
	font-size: 16px;
	margin-top: 16px;
}

.live .anim {
	margin-top: 50px;
	font-size: 20px;
	color: #ccc;
	padding: 20px;
	animation: move-up-and-down 1s infinite alternate;
}

/* Live Sports */
.live-sports {
	background: url('../img/live-sports.jpg') no-repeat center center / cover;
	height: 800px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.live-sports::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 500px;
	z-index: 1;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.432) 15.54%,
		rgba(0, 0, 0, 0.349) 60.25%,
		rgba(0, 0, 0, 8e-5) 100%
	);
}

.live-sports .live-sports-content {
	padding-left: 130px;
	max-width: 550px;
	z-index: 2;
}

.live-sports .container {
	animation: show-content 1s ease-in forwards;
	height: 200px;
}

.live-sports .live-sports-content .text-xl {
	font-size: 48px;
}

.live-sports .live-sports-content #breaking-news {
	display: none;
}

.live-sports .live-sports-content #biggest-events {
	display: none;
}

.live-sports .nav {
	margin-bottom: 50px;
}

.live-sports .nav ul {
	display: flex;
	list-style: none;
}

.live-sports .nav ul li {
	padding-right: 20px;
	font-size: 14px;
	font-weight: 900;
}

.live-sports .nav ul li a {
	padding-bottom: 15px;
	cursor: pointer;
}

.live-sports .nav ul li:first-child a {
	border-bottom: 6px solid #fff;
}

.live-sports .live-sports-logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	margin-top: 20px;
}

.live-sports .live-sports-logos > div {
	background: url('/img/network-logo-bg.png') no-repeat center center / cover;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.live-sports .live-sports-logos > div img {
	width: 45px;
}

.live-sports .sub-link {
	display: inline;
	font-size: 10px;
	color: #ccc;
}

/* Media Queries */
@media (max-width: 1300px) {
	.categories .covers {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.header .logo {
		width: 180px;
	}

	.header .header-content {
		text-align: center;
		padding: 0 30px;
		margin-top: 50px;
	}

	.header .header-text-1 {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.header .header-text-2 {
		display: none;
	}

	.sub-header {
		grid-template-columns: 1fr;
		grid-gap: 30px;
		text-align: center;
	}

	.sub-header img {
		width: 250px;
		margin: 0 auto;
	}

	.sub-header > div:last-child {
		justify-self: center;
		align-self: center;
	}

	.text-xl {
		font-size: 40px;
		line-height: 1.2;
	}

	.sub-text {
		font-size: 20px;
	}

	.categories .covers {
		grid-template-columns: 1fr;
	}

	.live .live-border {
		padding: 30px 25px;
	}

	.live {
		padding: 20px;
	}
	.live .text-xl {
		font-size: 36px;
		margin-bottom: 10px;
	}

	.live .sub-text {
		font-size: 16px;
	}

	.live-sports {
		background: url('/img/live-sports-small.jpg') no-repeat center center /
			cover;
		grid-template-columns: 1fr;
		align-items: flex-start;
		justify-content: center;
	}

	.live-sports .live-sports-content {
		margin: 150px auto;
		max-width: 320px;
		padding-left: 0;
		justify-content: center;
		text-align: center;
		justify-self: center;
	}

	.live-sports .live-sports-content .sub-text {
		font-size: 16px;
		margin-top: 20px;
	}

	.live-sports .nav ul li {
		padding-right: 20px;
		font-size: 12px;
	}

	.live-sports .live-sports-content .text-xl {
		font-size: 38px;
	}
}

/* Animations */
@keyframes move-up-and-down {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}
}

@keyframes show-content {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
